<h5 id = "thanksMessage" style = "display: none"> Thanks for the order! </h5>

<h2>Craft your perfect burger</h2>
<form id="ajax-order-form" action="submitOrder" method="POST">
  Your Name: <input type="text" name="customerName"/><br/>
  <h3>What would you like on your burger?</h3>
	{{#each ingredients}}
	<li id = "{{_id}}" style="display: block">Ingredient: <span class="name">{{name}}</span> ____ Cost: <span class="cost">{{cost}}</span> 
		<input type="checkbox" name="ingredient1" value="{{name}}" cost = "{{cost}}"> <br>
	</li>
	{{/each}}
  <input type="submit" value="Submit">
</form>
<div id="result">
</div>

<h4> Total Cost: <span id = 'total'> </span></h4>

